/*
: ************************************************************************************************************
										% La barre des réseaux sociaux.
: ************************************************************************************************************
*/

/*: La barre des réseaux sociaux. */
#socialBarHeader {
	background-color: #b7774a;
	height: 5vh;
	width: 100%;
	display: flex;
    align-items: center;
}

/*: Alignement des icônes à droite de l'écran. */
#socialBarHeader .fa-facebook-f {
	margin-left: auto;
}

/*: Les règles des icônes. */
#socialBarHeader em {
	color: white;
	padding-left: 25px;
    font-size: 2.5vh;
}

/*: J'éloigne la dernière icône du bord de l'écran. */
#socialBarHeader .fa-google {
	padding-right: 50px;
}

/*
: ************************************************************************************************************
										% L'accueil.
: ************************************************************************************************************
*/

/*= Le code CSS de l'image de fond de la page d'accueil. */
#accueil {
	height: 100vh;
	background-image: url(../img/accueil/fond_accueil.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: static;
	z-index: 1;
}

/*= Le titre de l'accueil. */
#accueil h2 {
	font-size: 10vh;
	padding-bottom: 100px;
	text-align: center;
}

/*= Modification de la taille des textes de l'accueil. */
#accueil p, #accueil .fa-solid {
	font-size: 6vh;
}

/*= La bordure qui entoure le texte de l'accueil. */
#accueil p {
	border: 4px solid white;
	border-radius: 4px;
	padding: 12px;
}

/*= Remise en forme du lien. */
#accueil a {
	display: contents;
}

/*
: ************************************************************************************************************
										% Les règles pour les mobiles et les tablettes.
: ************************************************************************************************************
*/

/*
. --------------------------------------------------------------------------------
                                £ Je cible uniquement les mobiles.
. --------------------------------------------------------------------------------
*/

@media screen and (max-width: 600px) {

	/*. --------------------La barre des réseaux sociaux.-------------------- */

	/*$ Réduction de l'espace entre les icônes. */
	#socialBarHeader em {
		padding-left: 18px;
	}

	/*. --------------------L'accueil.-------------------- */

	/*$ Réduction de la taille du titre de l'accueil. */
	#accueil h2 {
		font-size: 6vh;
	}

}

/*
. --------------------------------------------------------------------------------
                                £ Je cible uniquement les tablettes
. --------------------------------------------------------------------------------
*/

@media screen and (min-width: 601px) and (max-width: 1024px) {

	/*. --------------------L'accueil.-------------------- */

	/*$ Réduction de la taille du titre de l'accueil. */
	#accueil h2 {
		font-size: 8vh;
	}

	/*$ Réduction de la taille du lien de l'accueil. */
	#accueil p, #accueil .fa-solid {
		font-size: 5vh;
	}

}

/*
. --------------------------------------------------------------------------------
                                £ Je cible les tablettes et les mobiles.
. --------------------------------------------------------------------------------
*/

@media only screen and (max-device-width: 1366px) {

	/*. --------------------La barre des réseaux sociaux.-------------------- */

	/*$ Réduction de l'espace entre la dernière icône et le bord de l'écran. */
	#socialBarHeader .fa-google {
		padding-right: 25px;
	}

}