/*
: ************************************************************************************************************
                                    % Les règles de la barre des réseaux sociaux.
: ************************************************************************************************************
*/

/*: La barre des réseaux sociaux. */
#socialBarHeader {
	background-color: #b7774a;
	height: 5vh;
	width: 100%;
	display: flex;
    align-items: center;
}

/*: Alignement des icônes à droite de l'écran. */
#socialBarHeader .fa-facebook-f {
	margin-left: auto;
}

/*: Les règles des icônes. */
#socialBarHeader em {
	color: white;
	padding-left: 25px;
    font-size: 2.5vh;
}

/*: J'éloigne la dernière icône du bord de l'écran. */
#socialBarHeader .fa-google {
	padding-right: 50px;
}



/*
: ************************************************************************************************************
                                    % Les règles pour les mobiles et les tablettes.
: ************************************************************************************************************
*/

/*
. --------------------------------------------------------------------------------
                                £ Je cible uniquement les mobiles.
. --------------------------------------------------------------------------------
*/

@media screen and (max-width: 600px) {

	/*. --------------------La barre des réseaux sociaux.-------------------- */

	/*: Réduction de l'espace entre les icônes. */
	#socialBarHeader em {
		padding-left: 18px;
	}

}

/*
. --------------------------------------------------------------------------------
                                £ Je cible uniquement les tablettes
. --------------------------------------------------------------------------------
*/

@media screen and (min-width: 601px) and (max-width: 1024px) {
}

/*
. --------------------------------------------------------------------------------
                                £ Je cible les tablettes et les mobiles.
. --------------------------------------------------------------------------------
*/

@media only screen and (max-device-width: 1366px) {

	/*. --------------------La barre des réseaux sociaux.-------------------- */

	/*: Réduction de l'espace entre la dernière icône et le bord de l'écran. */
	#socialBarHeader .fa-google {
		padding-right: 25px;
	}

}