/*/ Début du reset CSS. */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*/ HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*/ Fin du reset CSS. */


/** Les règles générales. */



/** La fin des règles générales. */


/*% Début des règles pour la barre de réseaux sociaux. */

/*/ Les règles de la div qui crée la barre. */
header div {
	text-align: center; 
	background-color: #B6774A; 
	height: 3vh; 
	display: flex; 
	align-items: center;
}

/*/ Alignement des icônes à droite de l'écran. */
header div .fa-facebook-f {
	margin-left: auto;
} 

/*/ Les règles pour les i. */
header div i {
	color: white;
	padding-left: 15px;
}

/*/ J'éloigne la dernière icônes du bord de l'écran. */
header div .fa-google {
padding-right: 40px;
}

/*% Fin des règles pour la barre de réseaux sociaux. */


/*§ Début de la barre de naviguation. */

/*? Le mode ordinateur. */

/*: La liste non-ordonnée qui sert de naviguation. */

.ham, #topNav h1, sideNav {
    visibility: hidden;
}

/*: Les caractéristiques générales. */

#topNav {
    /* width: 100vw; */
    height: 8vh;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
}

/*: La liste du menu de naviguation. */

#topNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px;
    white-space: nowrap;
}

/*: Les liens de la liste non-ordonnée. */

#topNav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

/*: Les liens de naviguation. */

#topNav ul li a {
    color: #845533;
    text-decoration: none;
    font-size: 2vh;
    padding: 8px 8px;
}

/*: Les liens de naviguation lorsque l'on reste dessus au survol. */

#topNav ul li a:hover, #topNav ul li a:focus {
    border-bottom: 2px solid #d9703a;
}

/*? Le mode mobile. */

/*: L'icone du menu burger. */

#topNav .fas {
    margin: 8px;
    cursor: pointer;
}

/*: Le titre de la navbar. */

#topNav h1 {
    margin: auto;
    font-size: 3.5vh;
}

/*: La naviguation verticale. */

.sideNav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    background-color: #B6774A;
    width: 50vw;
    height: 100vh;
    color: white;
}

/*: La fonction hide qui me permet de cacher le menu vertical. */

.hide {
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms, height 600ms;
    -o-transition: opacity 600ms, visibility 600ms, height 600ms;
    transition: opacity 600ms, visibility 600ms, height 600ms;
}

/*: La fonction show qui me permet de faire apparaître le menu vertical. */

.show {
    display: block;
    -webkit-transition: opacity 600ms, visibility 600ms, height 600ms;
    -o-transition: opacity 600ms, visibility 600ms, height 600ms;
    transition: opacity 600ms, visibility 600ms, height 600ms;
}

/*: L'icone X qui sert à fermer le menu vertical. */

.menuX {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

/*: La liste non-ordonnée qui sert de naviguation. */

.sideNav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 5rem;
}

/*: Les liens de la liste non-ordonnée. */

.sideNav ul li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/*: Les liens de naviguation. */

.sideNav ul li a {
    display: block;
    color: white;
    padding-bottom: 10px;
    margin-top: 1rem;
    border-bottom: 2px solid black;
    text-decoration: none;
    font-size: 3.5vh;
}

/*: Les liens de naviguation lorsque l'on reste dessus au survol. */

.sideNav ul li a:hover, .sideNav ul li a:focus {
    border-bottom: 2px solid white;
}

/*: La classe active pour la page sur laquelle se trouve l'utilisateur. */

.actif {
    color: red;
}

/*§ Fin de la barre de naviguaation. */




/*? Les règles pour les mobiles. */

/*; Le mode responsive de la barre de naviguation. */

@media screen and (max-width: 600px) {
    /*$ Je remet les éléments de la barre de naviguation mobile à l'écran. */
    .ham, #topNav h1, sideNav {
        visibility: visible;
    }
    /*$ Je cache les éléments de la barre de naviguation pour ordinateur. */
    #topNav ul {
        display: none;
    }
    /*$ Le menu de naviguation doit prendre tout l'écran pour que les liens soient visibles. */
    .sideNav {
        width: 100vw;
    }
}

/*; Les règles générales pour les mobiles. */

@media screen and (max-width: 600px) {
    /*$ J'agrandis la barre de naviguation pour les mobiles. */
    #topNav {
        height: 9vh;
    }

    /*$ J'ajoute un peu d'espace entre le bouton et le titre de la barre de naviguation. */
    .ham {
        margin-right: 10px;
    }

	.sideNav .fas {
		margin-right: 8px;
		cursor: pointer;
	}
}

/*; Les règles générales pour les tablettes. */

@media screen and (min-width: 601px) and (max-width: 1024px) {
    /*$ J'agrandis la barre de naviguation pour les tablettes. */
    #topNav {
        height: 5.5vh;
    }
}